<!DOCTYPE html>
<html lang="en">
<head>
	<title>关于我们 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website  template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<header>
		<div class="logo">
			<a href="/org_index"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/org_index">主页</a></li>
				<li><a href="/org_personalInfo">账号信息</a></li>
				<li><a href="/org_aboutus" class="selected">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->

	<div class="footer clearfix">
		<div class="rights">
			<p>Copyright © 2018 WeHealth.</p>
			<p>WeHealth，大健康数据管理平台</p>
		</div><!-- end rights -->
	</div>
	</header><!-- end header -->

	<section class="main clearfix">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<h1 class="title">关于我们</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
<div class="content" style="letter-spacing: 1.5px">
				<h2>  WeHealth大健康数据平台</h2>
				<p style="text-indent:2em;">WeHealth取名于“ We are always with you and health”，旨在利用大数据平台和区块链安全性的优势为用户提供更科学、更实际的医疗健康服务。</p>
				<p style="text-indent:2em;">
				基于区块链的快速发展以及去中心化的特性，采用区块链来搭建健康平台能够使得健康医疗数据更好的保存传输，也能够更加安全的保护个人隐私。区块链能够以不那么繁琐的方式，让安全数据交换标准化。区块链无中心服务器的特性使得系统不会出现单点失效的情况，很好的维护了系统稳定性。区块链大健康平台不仅为医院以及个人带来便捷，同时为相关产业包括医药保健产品，营养保健食品，医疗保健器械，休闲保健服务，健康咨询管理等带来了直接的经济效益和社会效益。</p>


				<h2>项目成员</h2>

				<img src="img/zyh.png"  style="height: 75px;float: left;margin: 20px"><br><h3>张雨豪 组长</h3>
				<p>跟进和把关整体项目进度，整合组员代码文档。主要负责业务逻辑层的部分代码编写。</p>

				<img src="img/wqb.png"  style="height: 75px;float: left;margin: 20px"><br><h3>吴棋栢 组员</h3>
				<p>负责区块链只能合约的编写。</p>

				<img src="img/zyy.png"  style="height: 75px;float: left;margin: 20px"><br><h3>周宇阳 组员</h3>
				<p>编写项目的相关文档，建立数据库与后台的连接，协助业务逻辑层的完善工作。</p>

				<img src="img/ymj.png"  style="height: 75px;float: left;margin: 20px"><br><h3>於明嘉 组员</h3>
				<p>负责前端界面的设计和编写，协助完成界面与业务逻辑及数据库的请求，测试所有网页的视觉呈现效果和页面逻辑交互。</p>

				<img src="img/hyq.png"  style="height: 75px;float: left;margin: 20px"><br><h3>黄妍秋 组员</h3>
				<p>分析项目需求，协助前端开发和业务逻辑层的开发。</p>

				<h2>联系我们</h2>

				<p>&nbsp;&nbsp;&nbsp;&nbsp;邮箱：1838698171@qq.com<br>
				&nbsp;&nbsp;&nbsp;&nbsp;电话：18651619519</p>

				
			</div><!-- end content -->
		</section>
	</section><!-- end main -->
	
</body>
</html>