<!DOCTYPE html>
<html lang="en">
<head>
	<title>账号信息 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website  template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<link href="css/demo.css" rel="stylesheet" />
	<!--<link href="css/switchery.min.css" rel="stylesheet" />-->
	<!--<link href="http://fonts.googleapis.com/css?family=Istok Web:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Prosto+One" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>-->



	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>

</head>
<body>
<header>
	<div class="logo">
		<a href="/org_index"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
	</div><!-- end logo -->

	<div id="menu_icon"></div>
	<nav>
		<ul>
			<li><a href="/org_index">主页</a></li>
			<li><a href="/org_organizationInfo" class="selected">账号信息</a></li>
			<li><a href="/org_aboutus">关于我们</a></li>
		</ul>
	</nav><!-- end navigation menu -->

	<div class="footer clearfix">
		<div class="rights">
			<p>Copyright © 2018 WeHealth.</p>
			<p>WeHealth，大健康数据管理平台</p>
		</div><!-- end rights -->
	</div>
</header><!-- end header -->

<section class="main clearfix">

	<section class="top">
		<div class="wrapper content_header clearfix">
			<h1 class="title">账号信息</h1>
		</div>
	</section><!-- end top -->

	<section class="wrapper">
		<div class="content">

			<h2>WeHealth账号</h2>

			<br />
			<h4 align="center"><img src="?" id="photo" height="70px" title="WeHealth" alt="WeHealth" /></h4>
			<h4 align="center"><input type="text" id="name" name="input1" value="" readonly style="font-size: 24px; text-align: center;border:none;font-weight: 600;"></h4>

			<hr />

			<br />


			<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>

			<br />
			<h2>区块链账号</h2>

			<br />
			<h4 align="center">地&emsp;址&emsp;<input type="text" id="addr" name="input3" value="0xxxxxxxxxxxxxx" readonly  style="border:none;font-size: 20px;width:300px;"></h4>
			<h4 align="center">余&emsp;额&emsp;<input type="text" id="money" name="input3" value="0xxxxxxxxxxxxxx" readonly  style="border:none;font-size: 20px;width:300px;"></h4>


			<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>

			<br>
			<br>
			<div style="text-align: center;font-size:20px;">
				<div class="but2">
					<a href="#" onclick="change()">保存更改</a>
				</div>
				<div class="but1">
					<a href="#" onclick="exit()">退出登录</a>
				</div>
			</div>
		</div><!-- end content -->
	</section>
</section><!-- end main -->
<script type="text/javascript" src="js/switchery.min.js"></script>
<script type="text/javascript">
    function doo(qualifiedName, value) {
        $.ajax({
            type: 'post',
            url: '/org_organizationInfo',
            success: function (data) {
                document.images.photo.src=data.orgphotopath;
                document.getElementById("name").value=data.orgName;
                document.getElementById("addr").value=data.orgAddress;
                document.getElementById("money").value=data.orgHc;
            },
            error: function () {
                alert('错误！')
            }
        })
    }
    function exit()
    {
        if (confirm("确定要退出WeHealth吗？"))
        {
            window.location.href="/login"
        }
    }
    function change() {
        var name=document.getElementById("name").value;
        $.ajax({
            type: 'post',
            url: '/updateInfo',
            data: {
                name:name,
            },
            success: function (data) {
                if(data){
                    alert("数据更改成功");
                    window.location.href='/org_organizationInfo'
                }
            },
            error: function () {
                alert('错误！')
            }

        })
    }
    doo();
</script>
</body>
</html>