<!DOCTYPE html>
<html lang="en">
<head>
	<title>主页 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="description" content=""/>
	<meta name="viewport" content="" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">
        function doo() {
            $.ajax({
                type: 'post',
                url: '/org_index',
                success: function (data) {
                    document.getElementById("name").value=data.orgName;
                    // document.getElementById("upload").value=data.orgName;
                    // document.getElementById("download").value=data.orgName;
                },
                error: function () {
                    alert('错误！')
                }
            })
        }
        doo();
        </script>
</head>
<body>

	<header>
		<div class="logo">
			<a href="/org_index"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/org_index" class="selected">主页</a></li>
				<li><a href="/org_organizationInfo">账号信息</a></li>
				<li><a href="/org_aboutus">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->

	<div class="footer clearfix">		
		<div class="rights">
				<p>Copyright © 2018 WeHealth.</p>
				<p>WeHealth，大健康数据管理平台</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	
	</header><!-- end header -->

	<section class="main clearfix">
		<div class="work" >
			<div style="text-align: center;margin: 15px">
			<img src="img/portrait.png" alt="" height=80 >
				<h1 style="font-size: 16px;line-height: 18px">
					<br>
					<h4 align="center" ><input type="text" style="border:none;font-size:28px;background-color:transparent;font-weight: 800" size="6" id="name" value="" readonly></h4>
					<br>
					<td id="name" value="123"></td>
					—数据监控—<br>
					<br>
					<br>
					<br>
					<h4 align="center">已上传：<input type="text" style="border:none;font-size:24px;background-color:transparent" id="upload" value="" readonly></h4>
					<br>
					<br>
					<h4 align="center">已下载：<input type="text" style="border:none;font-size:24px;background-color:transparent" id="download" value="" readonly></h4>
				</h1>
			</div>
		</div>

		<div class="work">
			<a href="/org_uploadData">
				<img src="img/upload.png" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>将您持有的健康数据与其他医疗机构用户共享。</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/org_downloadData">
				<img src="img/download.png" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>根据您的需求，选择获取区块链上已共享的健康数据。</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/org_hcStore">
				<img src="img/HCstore.png" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>管理您的Health Coin商店。</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/org_transactionRecord">
				<img src="img/transportrecord.png" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>查看您相关数据的交换记录。</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="/org_myOrder">
				<img src="img/order.png" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>管理您的提供的医疗服务。</h1>
					</div>
				</div>
			</a>
		</div>
	</section><!-- end main -->
	
</body>
</html>