<!DOCTYPE html>
<html lang="en">
<head>
	<title>数据上传 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="css/colorpicker.css" />
	<link rel="stylesheet" href="css/datepicker.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/select2.css" />
	<link rel="stylesheet" href="css/matrix-style.css" />
	<link rel="stylesheet" href="css/matrix-media.css" />
	<link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
	<!--<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>-->
	<script type="text/javascript">
        function insert() {
			alert("上传病例信息成功！")
        }
		</script>
</head>
<body>

	<header>
		<div class="logo">
			<a href="/org_index"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/org_index">主页</a></li>
				<li><a href="/org_organizationInfo">账号信息</a></li>
				<li><a href="/org_aboutus">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<div class="rights">
				<p>Copyright © 2018 WeHealth.</p>
                <p>WeHealth，大健康数据管理平台</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->

	<section class="main clearfix">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
							
					<ul class="btn clearfix">
						<li><a href="/org_index" class="grid" data-title="主页"></a></li>
						<li><a href="/org_downloadData" class="next" data-title="数据获取"></a></li>
					</ul>							
					
				</div><!-- end work_nav -->
				<h1 class="title">数据上传</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content"> 
				<div class="widget-box">
		        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
		          <h5>病例信息上传</h5>
		        </div>

		        <div class="widget-content nopadding">
		          <form action="/org_uploadData" method="post" class="form-horizontal" onsubmit="insert()">
					  <div class="control-group">
						  <label class="control-label">姓名 :</label>
						  <div class="controls">
							  <input type="text" class="span11" placeholder="Name" name="name" id="name" value="" />
						  </div>
					  </div>
		            <div class="control-group">
		              <label class="control-label">性别 :</label>
		              <div class="controls">
		                <input type="text" class="span11" placeholder="Gender" name="sex" id="sex" value=""/>
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label">生日 :</label>
		              <div class="controls">
		                <input type="text" class="span11" placeholder="Age" name="birth" id="birth" value=""/>
		              </div>
		            </div>
					  <div class="control-group">
						  <label class="control-label">身高 :</label>
						  <div class="controls">
							  <input type="text" class="span11" placeholder="Height" name="height" id="height" value=""/>
						  </div>
					  </div><div class="control-group">
						  <label class="control-label">体重 :</label>
						  <div class="controls">
							  <input type="text" class="span11" placeholder="Weight" name="weight" id="weight" value=""/>
						  </div>
					  </div>
		            <div class="control-group">
		              <label class="control-label">心率 :</label>
		              <div class="controls">
		                <input type="text"  class="span11" placeholder="Heart rate" name="hr" id="hr" value="" />
		              </div>
		            </div>
		            <div class="control-group">
		              <label class="control-label">血压 :</label>
		              <div class="controls">
		                <input type="text" class="span11" placeholder="Blood pressure" name="bp" id="bp" value=""/>
		              </div>
		            </div>
		            	<div class="control-group">
		              	<label class="control-label">睡眠 :</label>
		              	<div class="controls">
		                	<input type="text" class="span11" placeholder="Sleep quality" name="sq" id="sq" value=""/>
		                	<span class="help-block">Description field</span> </div>
		            	</div>
		            	<div class="control-group">
		              		<label class="control-label">备注 ：</label>
		              		<div class="controls">
		                		<textarea class="span11" name="remark" id="remark" value=""></textarea>
		              		</div>
		            	</div>
		            	<div class="form-actions">
		              		<input type="submit" class="btn btn-success" value="确认上传" >
		              	</div>
		            </form>
		        </div>
		    </div>

				
			</div><!-- end content -->
		</section>
	</section><!-- end main -->

<!--<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-colorpicker.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/jquery.toggle.buttons.html"></script> 
<script src="js/masked.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.form_common.js"></script> 
<script src="js/wysihtml5-0.3.0.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/bootstrap-wysihtml5.js"></script> 
<script>
	$('.textarea_editor').wysihtml5();
</script>-->

</body>
</html>