<!DOCTYPE html>
<html lang="en">
<head>
	<title>HC店铺 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<script src="js/jquery.min.js"></script>
	<!--<script src="js/bootstrap.min.js"></script>-->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<link rel='stylesheet' type='text/css' href="css/style_store.css" />
	<!--<link rel='stylesheet' type='text/css' href="css/style.css" />
	 Custom Theme files -->
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	</head>

	<!--<link href='http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>-->

</head>
<body>

	<header>
		<div class="logo">
			<a href="/org_index"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<!--<nav>
			<ul>
				<h4>&nbsp</h4>
				<hr>
				<hr>
				<hr>
				<hr>
				<li><a href="index_org.html"><p style="font-family:raleway-regular, arial;color:#454545;size:14px;letter-spacing: 1px">主页</p></a></li>
				<li><a href="organizationalInfo.html"><p style="font-family:raleway-regular, arial;color:#454545;size:10px;letter-spacing: 1px">账号信息</p></a></li>
				<li><a href="#"><p style="font-family:raleway-regular, arial;color:#454545;size:10px;letter-spacing: 1px">关于我们</p></a></li>
			</ul>
		</nav>
		 end navigation menu -->
         <nav>
			<ul>
				<li><a href="/org_index">主页</a></li>
				<li><a href="/org_organizationInfo">账号信息</a></li>
				<li><a href="/org_aboutus">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->
		<div class="footer clearfix">
			<div class="rights">
				<p>Copyright © 2018 WeHealth.</p>
				<p>WeHealth，大健康数据管理平台</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->


	
	<section class="main clearfix"style="background-color:white">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
					
					<ul class="btn clearfix">
						<li><a href="/org_downloadData" class="previous" data-title="数据获取"></a></li>
						<li><a href="/org_index" class="grid" data-title="主页"></a></li>
						<li><a href="/org_transactionRecord" class="next" data-title="交易记录"></a></li>
					</ul>
					
				</div><!-- end work_nav -->
				<h1 class="title">HealthCoin店铺</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			
				    
				    	<div class="row content">
			         		<ul class="product_img">
			         			<li class="product_left"><img src="img/家庭医生.jpg" class="img-responsive" alt=""/></li>
				         		<li class="product_right">
					         		<div class="but1">
					         			<h4>家庭医生
							          	<a href="#" style="color: white; font-size: 12px;height:30px;width:90px;float:right">修改商品信息</a>
							          </h4>
							        </div>
					         		<h3>发布时间：2018.1.1</a></h3>
					         		<span class="model">有效期: 2018.1.1-2019.1.1</span><br>
					         		<span class="model">咨询电话: 025-52090000</span>
					         		<br><br>
					         		<div class="product_price"><strong>价格:</strong>
									  	<span class="actual">100 Health Coins</span>
									</div>
									<br>
									<div class="but2">
									<h3>销量：21
									
							          	<a href="#" style="color: white; font-size: 12px">管理我的订单</a>
							        </div></h3>	
				         		</li>
					         	<div class="clearfix"> </div>
					            <h5 class="detail">详情:</h5>
					            <p class="detail_desc">通过预约家庭医生服务，用户将获得专家医生一对一上门问诊服务。您可通过选择您需要问诊的详细病情和身体状况匹配精准的医生。问诊结束后，医生将对您的情况额外做为期一周的跟踪和咨询，有任何问题您都可以与他进行沟通，我们将  ...<a href="#">更多内容</a></p>
			         		</ul>

					        <ul class="product_img">
					         	<li class="product_left"><img src="img/儿童健康咨询.jpg" class="img-responsive" alt=""/></li>
				         		<li class="product_right">
					         		<div class="but1">
					         			<h4>儿童健康咨询
							          	<a href="#" style="color: white; font-size: 12px">修改商品信息</a>
							          </h4>
							        </div>
					         		<h3>发布时间：2018.6.1</a></h3>
					         		<span class="model">有效期: 2018.6.1-2019.1.1</span><br>
					         		<span class="model">咨询电话: 025-52090000</span>
					         		<br><br>
					         		<div class="product_price"><strong>价格:</strong>
									  	<span class="actual">75 Health Coins</span>
									</div>
									<br>
									<div class="but2">
									<h3>销量：101
									
							          	<a href="#" style="color: white; font-size: 12px">管理我的订单</a>
							        </div></h3>	
				         		</li>
					         	<div class="clearfix"> </div>
					            <h5 class="detail">详情:</h5>
					            <p class="detail_desc">预约前请至少提前一周致电预约，确保能够为您提供更好的服务。本院的儿科门诊将有经验丰富的医生为您的孩子提供全面的身体检查，将根据您孩子的健康状况给出相应的建议，并为您提供后续一周的健康跟踪和复诊的服务。如有进一步治疗的情况将  ...<a href="#">更多内容</a></p>
					        </ul>

					        <ul class="product_img">
					         	<li class="product_left"><img src="img/口腔护理.jpg" class="img-responsive" alt=""/></li>
				         		<li class="product_right">
					         		<div class="but1">
					         			<h4>口腔护理
							          	<a href="#" style="color: white; font-size: 12px">修改商品信息</a>
							          </h4>
							        </div>
					         		<h3>发布时间：2018.1.1</a></h3>
					         		<span class="model">有效期: 2018.1.1-2019.1.1</span><br>
					         		<span class="model">咨询电话: 025-52090000</span>
					         		<br><br>
					         		<div class="product_price"><strong>价格:</strong>
									  	<span class="actual">200 Health Coins</span>
									</div>
									<br>
									<div class="but2">
									<h3>销量：312
									
							          	<a href="#" style="color: white; font-size: 12px">管理我的订单</a>
							        </div></h3>	
				         		</li>
					         	<div class="clearfix"> </div>
					            <h5 class="detail">详情:</h5>
					            <p class="detail_desc">预约前请至少提前一周致电预约，确保能够为您提供更好的服务。我们将根据您的情况为您安排最适合您的医生。我们为您提供口腔清洁、牙齿健康检查和蛀牙状况修复。如有其它进一步的治疗，将根据问诊医生给出的建议方案收取额外的实际费用，所  ...<a href="#">更多内容</a></p>

			 			</div>
					
		
		</section>
	</section>
	
</body>
</html>