<!DOCTYPE html>
<html lang="en">
<head>
	<title>HC店铺 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<link rel='stylesheet' type='text/css' href="css/style_store.css" />
	<!--<link rel='stylesheet' type='text/css' href="css/style.css" />
	 Custom Theme files -->
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	</script>

	<link href='http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

</head>
<body>

	<header>
		<div class="logo">
			<a href="org_index.ejs"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<h4>&nbsp</h4>
				<hr>
				<hr>
				<hr>
				<hr>
				<li><a href="index_org.html"><p style="font-family:raleway-regular, arial;color:#454545;size:14px;letter-spacing: 1px">主页</p></a></li>
				<li><a href="organizationalInfo.html"><p style="font-family:raleway-regular, arial;color:#454545;size:10px;letter-spacing: 1px">账号信息</p></a></li>
				<li><a href="#"><p style="font-family:raleway-regular, arial;color:#454545;size:10px;letter-spacing: 1px">关于我们</p></a></li>
			</ul>
		</nav>
		<!-- end navigation menu -->

		<div class="footer clearfix">
			<div class="rights">
				<p>Copyright © 2018 WeHealth.</p>
				<p>WeHealth，大健康数据管理平台</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->


	
	<section class="main clearfix">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
					
					<ul class="btn clearfix">
						<li><a href="org_downloadData.html" class="previous" data-title="数据获取"></a></li>
						<li><a href="org_index.ejs" class="grid" data-title="主页"></a></li>
						<li><a href="org_transactionRecord.ejs" class="next" data-title="交易记录"></a></li>
					</ul>
					
				</div><!-- end work_nav -->
				<h1 class="title">HealthCoin店铺</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="xt-center">
				<div id="xt-center">
				    <div class="Product_top">
				    	<div class="row content">
			         		<ul class="product_img">
			         			<li class="product_left"><img src="img/pic8.jpg" class="img-responsive" alt=""/></li>
				         		<li class="product_right">
					         		<h3>Date Added: Wed 25 June, 2014</h3>
					         		<h4><a href="#">nostrud exerci tation ullamcorper suscipit </a></h4>
					         		<span class="model"><strong>Model : </strong>Model6</span><br>
					         		<span class="model"><strong>Manufacturer : </strong>Example1</span>
					         		<div class="product_price">Price:
									  	<span class="actual">$12.00</span>
									</div>
									<div class="but1">
							          	<a href="#">Buy Now</a>
							        </div>
				         		</li>
					         	<div class="clearfix"> </div>
					            <h5 class="detail">Details:</h5>
					            <p class="detail_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie<a href="#">...More Info</a></p>
			         		</ul>
					        <ul class="product_img">
					         	<li class="product_left"><img src="img/pic7.jpg" class="img-responsive" alt=""/>
					         		
					         	</li>
					         	<li class="product_right">
					         		<h3>Date Added: Wed 25 June, 2014</h3>
					         		<h4><a href="#">nostrud exerci tation ullamcorper suscipit </a></h4>
					         		<span class="model"><strong>Model : </strong>Model6</span><br>
					         		<span class="model"><strong>Manufacturer : </strong>Example1</span>
					         		<div class="product_price">Price:
									  <span class="actual">$12.00</span>
									</div>
									<div class="but1">
							          <a href="#">Buy Now</a>
							        </div>
					         	</li>
					         	<div class="clearfix"> </div>
					            <h5 class="detail">Details:</h5>
					            <p class="detail_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie<a href="#">...More Info</a></p>
					        </ul>
					        <ul class="product_img">
					         	<li class="product_left"><img src="img/pic9.jpg" class="img-responsive" alt=""/>
					         		
					         	</li>
					         	<li class="product_right">
					         		<h3>Date Added: Wed 25 June, 2014</h3>
					         		<h4><a href="#">nostrud exerci tation ullamcorper suscipit </a></h4>
					         		<span class="model"><strong>Model : </strong>Model6</span><br>
					         		<span class="model"><strong>Manufacturer : </strong>Example1</span>
					         		<div class="product_price">Price:
									  <span class="actual">$12.00</span>
									</div>
									<div class="but1">
							          <a href="#">Buy Now</a>
							        </div>
					         	</li>
					         	<div class="clearfix"> </div>
					            <h5 class="detail">Details:</h5>
					            <p class="detail_desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie<a href="#">...More Info</a></p>
					        </ul>

			 			</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	
</body>
</html>