<!DOCTYPE html>
<html lang="en">
<head>
	<title>数据获取 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" href="css/colorpicker.css" />
	<link rel="stylesheet" href="css/datepicker.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/select2.css" />
	<link rel="stylesheet" href="css/matrix-style.css" />
	<link rel="stylesheet" href="css/matrix-media.css" />
	<link rel="stylesheet" href="css/bootstrap-wysihtml5.css" />
	<link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

	<style type="text/css">

		#container{overflow: hidden;}/* 清除浮动 */
		#container div{width:200px;height:100px;}

		.box1{float: left;}
		.box2{float: left;}

	</style>

	<script type="text/javascript">
		function handleData() {
		    var sex=document.getElementById("sex").value;
		    var hr=document.getElementById("hr").checked;
		    var bp=document.getElementById("bp").checked;
		    var sq=document.getElementById("sq").checked;
		    var amount=document.getElementById("amount").value;
            $.ajax({
                type: 'post',
                url: '/org_downloadData',
				data:{
                    sex:sex,
                    hr:hr,
					bp:bp,
					sq:sq,
					amount:amount
				},
                success: function (data) {
                    document.getElementById("download").href="data/"+data;
                },
                error: function () {
                    alert('错误!!!!!!')
                }
            })
        }
        </script>
		</head>

<body>

	<header>
		<div class="logo">
			<a href="org_index.ejs"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/org_index">主页</a></li>
				<li><a href="/org_organizationInfo">账号信息</a></li>
				<li><a href="/org_aboutus">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<div class="rights">
				<p>Copyright © 2018 WeHealth.</p>
                <p>WeHealth，大健康数据管理平台</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->

	<section class="main clearfix">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
							
					<ul class="btn clearfix">
						<li><a href="org_uploadData.ejs" class="previous" data-title="数据上传"></a></li>
						<li><a href="org_index.ejs" class="grid" data-title="主页"></a></li>
						<li><a href="org_hcStore.ejs" class="next" data-title="HC店铺"></a></li>
					</ul>							
					
				</div><!-- end work_nav -->
				<h1 class="title">数据获取</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content"> 
				<div class="widget-box">
		        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
		          <h5>设置获取条件</h5>
		        </div>

		        <div class="widget-content nopadding">
		        <!-- <form action="/org_downloadData" method="post" class="form-horizontal" onsubmit="return handleData()">-->
		            <div class="control-group" style="text-indent:2em">
						<br>
		                <label class="box1">性别 :</label>
		                <div class="box2">
		                	<input type="radio" name="gender" value="男" id="sex" >男
		                	<input type="radio" name="gender" value="女" id="sex" >女
		                </div>
		            </div>
					<br>
		            <div class="control-group" style="text-indent:2em">
						<br>
		              	<label class="box1">心率 :</label>
		              	<div class="box2">
		              		<input type="checkbox" name="radio1" id="hr">获取心率数据
		              	</div>
		            </div>
					<br>
		            <div class="control-group" style="text-indent:2em">
						<br>
		              	<label class="box1">血压 :</label>
		              	<div class="box2">
		                	<input type="checkbox" name="radio2" id="bp">获取血压数据
		              	</div>
		            </div>
					<br>
		            <div class="control-group" style="text-indent:2em">
						<br>
		              	<label class="box1">睡眠 :</label>
		              	<div class="box2">
		                	<input type="checkbox" name="radio3" id="sq">获取睡眠数据
		            	</div>
		            </div>
					<br>
		            <div class="control-group" style="text-indent:2em">
						<br>
		              	<label class="box1">总数目 :</label>
		              	<div class="box2">
		                	<input type="text" class="span11" id="amount" value="" placeholder="Set the amount of data" />
		            	</div>
		            </div>
		            <div class="form-actions">
		            	<input type="button" class="btn btn-success" value="确认搜索范围" onclick="handleData()">
						<a href="?" id="download" download="data.txt">点击下载</a>
		            </div>
		        <!-- </form>-->
		        </div>
		    </div>

				
			</div><!-- end content -->
		</section>
	</section><!-- end main -->

<script src="js/jquery.min.js"></script> 
<script src="js/jquery.ui.custom.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/bootstrap-colorpicker.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/jquery.toggle.buttons.html"></script> 
<script src="js/masked.js"></script> 
<script src="js/jquery.uniform.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/matrix.js"></script> 
<script src="js/matrix.form_common.js"></script> 
<script src="js/wysihtml5-0.3.0.js"></script> 
<script src="js/jquery.peity.min.js"></script> 
<script src="js/bootstrap-wysihtml5.js"></script> 
<script>
	$('.textarea_editor').wysihtml5();
</script>

</body>
</html>