<!DOCTYPE html>
<html lang="en">
<head>
	<title>账号信息 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website  template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript">

        function doo() {
            $.ajax({
                type: 'post',
                url: '/per_personalInfo',
                success: function (data) {
                    document.getElementById("name").value=data;
                    console.log(data);
                    // document.getElementById("password").value=data.password;
                },
                error: function () {
                    alert('错误！')
                }

            })
        }
		function exit()
		{
			if (confirm("确定要退出WeHealth吗？"))
			{
				window.location.href="/login"
			}
		}
    doo();
	</script>
</head>
<body>
	<header>
		<div class="logo">
			<a href="per_index.ejs"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/per_index">个人主页</a></li>
				<li><a href="/per_personalInfo" class="selected">账号信息</a></li>
				<li><a href="/per_aboutus">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->

	<div class="footer clearfix">
		<div class="rights">
			<p>Copyright © 2018 WeHealth.</p>
			<p>WeHealth，大健康数据管理平台</p>
		</div><!-- end rights -->
	</div>
	</header><!-- end header -->

	<section class="main clearfix">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<h1 class="title">账号信息</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="content">

				<h2>WeHealth账号</h2>
				
				<br />
				<h4 align="center">头&emsp;像&emsp;<img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></h4>
				<h4 align="center">账户名&emsp;<input type="text" id="name" name="input1" value="" readonly></h4>
				<h4 align="center">密&emsp;码&emsp;<input type="text" name="input2" value="123456" readonly></h4>

				<hr />

				<br />
				<h4 align="center">性&emsp;别&emsp;<input type="text" name="input1" value="男" readonly></h4>
				<h4 align="center">生&emsp;日&emsp;<input type="text" name="input2" value="1994-04-21" readonly></h4>

				<hr />

				<br />
				<h4 align="center">授&emsp;权&emsp;<input type="text" name="input1" value="是" readonly></h4>

				<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>

				<br />
				<h2>区块链账号</h2>
				
				<br />
				<h4 align="center">地&emsp;址&emsp;<input type="text" name="input3" value="0xxxxxxxxxxxxxx" readonly></h4>
				<h4 align="center">私&emsp;钥&emsp;<input type="text" name="input1" value="***************" readonly></h4>
				<h4 align="center">余&emsp;额&emsp;<input type="text" name="input2" value="1.00" readonly></h4>

				<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>

				<div style="text-align: center;">
					<input type="button" name="exit" onclick="exit()" value="退出登录" style="color: white; background: red; width: 300px; height: 30px; font-size: 32" />
				</div>

			</div><!-- end content -->
		</section>
	</section><!-- end main -->
</body>
</html>