<!DOCTYPE html>
<html lang="en">
<head>
	<title>个人主页 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="">
	<meta name="description" content=""/>
	<meta name="viewport" content="" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>

	<header>
		<div class="logo">
			<a href="per_index.ejs"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/per_index" class="selected">个人主页</a></li>
				<li><a href="/per_personalInfo">账号信息</a></li>
				<li><a href="/per_aboutus">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->

	<div class="footer clearfix">		
		<div class="rights">
			<p>Copyright © 2018 WeHealth.</p>
			<p>WeHealth，大健康数据管理平台</p>
		</div><!-- end rights -->
	</div ><!-- end footer -->
	
</header><!-- end header -->

<section class="main clearfix">
	<div class="work" >
		<div style="text-align: center;margin: 15px">
			<img src="img/portrait.png" alt="" height=80 >
			<h1 style="font-size: 16px;line-height: 18px">
				Peter Pan
				<br>
				<br>
				—实时数据监控—<br>
				心率：<br>
				血压：<br>
				睡眠：
			</h1>
			
		</div>
	</div>

	<div class="work">
		<a href="/per_historyData">
			<img src="img/history1.png" class="media" alt=""/>
			<div class="caption">
				<div class="work_title">
					<h1>查看您相关设备中的历史健康数据。</h1>
				</div>
			</div>
		</a>
	</div>

	<div class="work">
		<a href="/per_hcStore">
			<img src="img/shop2.png" class="media" alt=""/>
			<div class="caption">
				<div class="work_title">
					<h1>在HC商店中购买专属的健康医疗服务。</h1>
				</div>
			</div>
		</a>
	</div>

	<div class="work">
		<a href="/per_visitorRecord">
			<img src="img/visitorrecord1.png" class="media" alt=""/>
			<div class="caption">
				<div class="work_title">
					<h1>查看已获取您健康数据的医疗机构。</h1>
				</div>
			</div>
		</a>
	</div>

	<div class="work">
		<a href="/per_myDevice">
			<img src="img/mydevice2.png" class="media" alt=""/>
			<div class="caption">
				<div class="work_title">
					<h1>查看与我的账户连接的设备。</h1>
				</div>
			</div>
		</a>
	</div>

	<div class="work">
		<a href="/per_myOrder">
			<img src="img/mymoney1.png" class="media" alt=""/>
			<div class="caption">
				<div class="work_title">
					<h1>查看我已购买的医疗服务。</h1>
				</div>
			</div>
		</a>
	</div>

	
</section><!-- end main -->

</body>
</html>