<!DOCTYPE html>
<html lang="en">
<head>
	<title>HC商店 | WeHealth 大健康数据平台</title>
	<link rel="icon" type="image/png" sizes="16x16" href="img/logo1.ico">
	<meta charset="utf-8">
	<meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Custom Theme files -->
	<link href="css/style-store.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	</script>

	<link href='http://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

</head>
<body>

	<header>
		<div class="logo">
			<a href="per_index.ejs"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/per_index">个人主页</a></li>
				<li><a href="/per_personalInfo">账号信息</a></li>
				<li><a href="/per_aboutus">关于我们</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			
			<div class="rights">
				<p>Copyright © 2018 WeHealth.</p>
				<p>WeHealth，大健康数据管理平台</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->


	
	<section class="main clearfix">

		<section class="top">	
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
					
					<ul class="btn clearfix">
						<li><a href="/per_historyData" class="previous" data-title="Previous"></a></li>
						<li><a href="/per_index" class="grid" data-title="Portfolio"></a></li>
						<li><a href="/per_visitorRecord" class="next" data-title="Next"></a></li>
					</ul>
					
				</div><!-- end work_nav -->
				<h1 class="title">HealthCoin商店</h1>
			</div>		
		</section><!-- end top -->

		<section class="wrapper">
			<div class="xt-center">
			<div id="xt-center">
		  		<div class="Product_top">
		   			<div class="row content">
		   				<div class="col-md-9">
    	    			<div class="row content_bottom">
			   	   			<div class="col-md-3">
			   	   			<div class="content_box" ><a href="single.html">
			   	   	  			<div class="view view-fifth" border:1px solid #000>
			   	   	     			<img src="img/p1.jpg" class="img-responsive" alt="">
				   	   	 			<div class="content_box-grid">
				   	   	  				<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  				<div class="price">Price:
						    				<span class="actual">$12.00</span>
						  				</div>
						  				<ul class="product_but">
						  					<li class="but3">Buy</li>
						  					<div class="clearfix"> </div>
						  				</ul>
						   				<div class="mask">
	                         				<div class="info">Quick View</div>
			               				</div>
			             			</div>
				   	   			</div>
			   	   	   		</a>
			   	   	  		</div>
			   	   			</div>
			   	   			<div class="col-md-3">
			   	   	  			<div class="content_box"><a href="single.html">
			   	   	  				<div class="view view-fifth">
			   	   	     				<img src="img/p4.jpg" class="img-responsive" alt="">
				   	   	 				<div class="content_box-grid">
				   	   	  					<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
				   	   	  					<div class="price">Price:
						    					<span class="actual">$12.00</span>
						 	 				</div>
							  				<ul class="product_but">
							  					<li class="but3">Buy</li>
							  					<div class="clearfix"> </div>
							  				</ul>
							   				<div class="mask">
		                         				<div class="info">Quick View</div>
				               				</div>
				             			</div>
					   	   			</div>
			   	   	   			</a>
			   	   	  			</div>
			   	   			</div>
						   	<div class="col-md-3">
						   	   	<div class="content_box"><a href="single.html">
						   	   	  	<div class="view view-fifth">
						   	   	     	<img src="img/p3.jpg" class="img-responsive" alt="">
							   	   	 	<div class="content_box-grid">
							   	   	  		<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
							   	   	  		<div class="price">Price:
									    		<span class="actual">$12.00</span>
									  		</div>
									  		<ul class="product_but">
									  			<li class="but3">Buy</li>
									  			<div class="clearfix"> </div>
									  		</ul>
									   		<div class="mask">
				                         		<div class="info">Quick View</div>
						               		</div>
						             	</div>
							   	   	</div>
						   	   	</a>
						   	   	</div>
						   	</div>
					   	   	<div class="col-md-3">
					   	   	   	<div class="content_box"><a href="single.html">
					   	   	  		<div class="view view-fifth">
					   	   	     		<img src="img/p2.jpg" class="img-responsive" alt="">
						   	   	 		<div class="content_box-grid">
						   	   	  			<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
						   	   	  			<div class="price">Price:
								    			<span class="actual">$12.00</span>
								  			</div>
								  			<ul class="product_but">
								  				<li class="but3">Buy</li>
								  				<div class="clearfix"> </div>
								  			</ul>
								   			<div class="mask">
			                         			<div class="info">Quick View</div>
					               			</div>
					             		</div>
						   	   		</div>
					   	   	   	</a>
					   	   	  	</div>
					   	   	</div>
					   	</div>

				   		<div class="row content_bottom1">
				   	   		<div class="col-md-3">
				   	   			<div class="content_box"><a href="single.html">
				   	   	  			<div class="view view-fifth">
				   	   	     			<img src="img/p1.jpg" class="img-responsive" alt="">
					   	   	 			<div class="content_box-grid">
					   	   	  				<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					   	   	  				<div class="price">Price:
							    				<span class="actual">$12.00</span>
							  				</div>
							  				<ul class="product_but">
							  					<li class="but3">Buy</li>
							  					<div class="clearfix"> </div>
							  				</ul>
							   				<div class="mask">
		                         				<div class="info">Quick View</div>
				               				</div>
				             			</div>
					   	   			</div>
				   	   	   		</a>
				   	   	  		</div>
				   	   		</div>
				   	   		<div class="col-md-3">
				   	   	  		<div class="content_box"><a href="single.html">
				   	   	  			<div class="view view-fifth">
				   	   	     			<img src="img/p4.jpg" class="img-responsive" alt="">
					   	   	 			<div class="content_box-grid">
					   	   	  				<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					   	   	  				<div class="price">Price:
							    				<span class="actual">$12.00</span>
							  				</div>
							  				<ul class="product_but">
							  					<li class="but3">Buy</li>
							  					<div class="clearfix"> </div>
							  				</ul>
							   				<div class="mask">
		                         				<div class="info">Quick View</div>
				               				</div>
				             			</div>
					   	   			</div>
				   	   	   		</a>
				   	   	  		</div>
				   	   		</div>
				   	   		<div class="col-md-3">
				   	   	 		<div class="content_box"><a href="single.html">
				   	   	  			<div class="view view-fifth">
				   	   	     			<img src="img/p3.jpg" class="img-responsive" alt="">
					   	   	 			<div class="content_box-grid">
					   	   	  				<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
					   	   	  				<div class="price">Price:
							    				<span class="actual">$12.00</span>
							  				</div>
							  				<ul class="product_but">
							  					<li class="but3">Buy</li>
							  					<div class="clearfix"> </div>
							  				</ul>
							   				<div class="mask">
		                         				<div class="info">Quick View</div>
				               				</div>
				             			</div>
					   	   			</div>
				   	   	   		</a>
				   	   	  		</div>
				   	   		</div>
					   	   	<div class="col-md-3">
					   	   	   	<div class="content_box"><a href="single.html">
					   	   	  		<div class="view view-fifth">
					   	   	     		<img src="img/p2.jpg" class="img-responsive" alt="">
						   	   	 		<div class="content_box-grid">
						   	   	  			<p class="m_1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
						   	   	  			<div class="price">Price:
								    			<span class="actual">$12.00</span>
								  			</div>
								  			<ul class="product_but">
								  				<li class="but3">Buy</li>
								  				<div class="clearfix"> </div>
								  			</ul>
								   			<div class="mask">
			                         			<div class="info">Quick View</div>
					               			</div>
					             		</div>
						   	   		</div>
					   	   	   	</a>
					   	   	  	</div>
				   	   		</div>
			   			</div>
         				</div>
	   				</div>
	  			</div>
	 			</div>
			</div>
		</section>

	</section>
	
</body>
</html>