<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>来访记录 | WeHealth 大健康数据平台</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="pixelhint.com">
    <meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website  template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

</head>

<body>

	<header>
		<div class="logo">
			<a href="per_index.html"><img src="img/logo1text.png" height="52px" title="WeHealth" alt="WeHealth" /></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav>
			<ul>
				<li><a href="/per_index"><font size="3">个人主页</font><br/></a></li>
				<li><a href="/per_personalInfo"><font size="3">账号信息</font><br/></a></li>
				<li><a href="/per_aboutus"><font size="3">关于我们</font><br/></a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<div class="rights">
				<p>Copyright © 2018 WeHealth.</p>
				<p>WeHealth，大健康数据管理平台</p>
			</div><!-- end rights -->
		</div ><!-- end footer -->
	</header><!-- end header -->

	<section class="main clearfix">

		<section class="top">	 
			<div class="wrapper content_header clearfix">
				<div class="work_nav">
					
					<ul class="btn clearfix">
						<li><a href="/per_hcStore" class="previous" data-title="Previous"></a></li>
						<li><a href="/per_index" class="grid" data-title="Portfolio"></a></li>
						<li><a href="/per_myDevice" class="next" data-title="Next"></a></li>
					</ul>							
					
				</div><!-- end work_nav -->
				<h1 class="title">来访记录</h1>
			</div>		
		</section><!-- end top -->
<section class="wrapper">
            <div class="xt-center">
            <!-- right -->
            <div id="xt-center">
                
                <div class="xt-table">
                <table cellpadding="0" cellspacing="0" border="0" bgcolor="#dcdcdc" width="100%">
                        <tr>
                        	<th>编号</th>
	                        <th>来访机构id</th>
	                        <th>来访机构名称</th>
	                        <th>来访时间</th>
	                        <th>奖励金</th>
                        </tr>
                        <tr>
                            <td>0005</td>
                            <td>100223</td>
                            <td>南京同仁医院</td>
                            <td>2018-09-04</td>
                            <td>1.00</td>
                        </tr>
                        <tr class="xt-bg">
                            <td>0004</td>
                            <td>100210</td>
                            <td>南京东方颐年养老服务有限公司</td>
                            <td>2018-09-02</td>
                            <td>1.00</td>
                        </tr>
                        <tr class="xt-bg">
                            <td>0003</td>
                            <td>100203</td>
                            <td>南京市第二医院</td>
                            <td>2018-08-31</td>
                            <td>1.00</td>
                        </tr>
                        <tr>
                            <td>0002</td>
                            <td>100223</td>
                            <td>南京同仁医院</td>
                            <td>2018-08-31</td>
                            <td>1.00</td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>100008</td>
                            <td>江苏省人民医院</td>
                            <td>2018-08-27</td>
                            <td>1.00</td>
                        </tr>

                    </table>
                </div>
                <div class="xt-fenye">
                    <div class="xt-fenye-left">当前第 1 / 1 页,每页10条，共 5条记录</div>
                    <div class="xt-fenye-right">
                        <a href="#">首页</a>
                        <a href="#">上一步</a>
                        <a href="#">下一步</a>
                        <a href="#">尾页</a>
                        <input type="text" name="text" /> 
                        <a href="#" class="xt-link">跳转</a>
                    </div>
                </div>

            </div>
            </div>
        </section>
	</section><!-- end main -->
	
</body>
</html>